/* *************/
/* Font Import */
/* *************/

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/Poppins-Italic.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url('assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    src: url('assets/fonts/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 800;
    src: url('assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 800;
    font-style: italic;
    src: url('assets/fonts/Poppins-ExtraBoldItalic.ttf');
}

/* ********* */
/* Variables */
/* ********* */

:root {
    /* Primary */
    --purple: hsl(259, 100%, 65%);
    --light_red: hsl(0, 100%, 67%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --off_white: hsl(0, 0%, 94%);
    --off_black: hsl(0, 0%, 8%);
    --light_grey: hsl(0, 0%, 86%);
    --smokey_grey: hsl(0, 1%, 44%);
}
