/* *************/
/* Font Import */
/* *************/

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/Poppins-Italic.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url('assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    src: url('assets/fonts/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 800;
    src: url('assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 800;
    font-style: italic;
    src: url('assets/fonts/Poppins-ExtraBoldItalic.ttf');
}

/* ********* */
/* Variables */
/* ********* */

:root {
    /* Primary */
    --purple: hsl(259, 100%, 65%);
    --light_red: hsl(0, 100%, 67%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --off_white: hsl(0, 0%, 94%);
    --off_black: hsl(0, 0%, 8%);
    --light_grey: hsl(0, 0%, 86%);
    --smokey_grey: hsl(0, 1%, 44%);
}

/* *********** */
/* Text Styles */
/* *********** */

.italic {
    font-style: italic;
}

.purple {
    color: var(--purple);
}

.off-black {
    color: var(--off_black);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ********************* */
/* Main container styles */
/* ********************* */

body {
    background-color: var(--off_white);
    font-family: Poppins;
    font-weight: 700;
    padding: 0px 20px 0 20px;
    margin: 0px;
    min-height: 98vh;
    
    /* For centering the results box */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.age-calc-box {
    background-color: var(--white);
    border-radius: 30px 30px 190px 30px;
    width: 100%;
    max-width: 850px;
    height: 670px;
    display: flex;
    flex-flow: column nowrap;
}

.input-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    height: 100px;
    margin: 3.2rem 3rem 0 3rem;
}

.day-input, .month-input, .year-input{
    display: flex;
    flex-flow: column nowrap;
    margin-right: 30px;
    max-width: 160px;
}

.form-label {
    color: var(--smokey_grey);
    font-size: .90rem;
    letter-spacing: 0.25em;
    margin: .4rem 0 .4rem 0;
}

.form-input {
    font-family: Poppins;
    font-weight: 700;
    color: var(--off_black);
    box-shadow: none;
    border: 1px solid;
    border-color: var(--light_grey);
    font-size: 1.9rem;
    border-radius: 10px;
    padding: .8rem 1.3rem .8rem 1.3rem;
}

.form-input:focus {
    border-color: var(--purple);
    outline: none;
}

.error {
    color: var(--light_red);
    font-size: .8rem;
    font-weight: 400;
    font-style: italic;
    margin: 5px 0 5px 0;
    padding: 0;
    /* visibility: hidden; */
}

.submit-bar {
    position: relative;
    text-align: right;
    margin: 20px 3rem 0 3rem;
}

.bar {
    background-color: var(--off_white);
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
}

#submit {
    text-align: center;
    position: inherit;
    z-index: 2;
    background-color: var(--purple);
    border-radius: 50%;
    border: none;
    height: 6.25rem;
    width: 6.25rem;
}

#submit:active {
    background-color: var(--off_black);
}

.results-box {
    margin: 0 3rem 3rem 3rem;
}

.results-text {
    font-weight: 800;
    font-style: italic;
    font-size: 6.5rem;
    padding: 0;
    margin: -3rem 0 -3rem 0;
}

#result-years, #result-months, #result-days {
    color: var(--purple);
}

/* ************* */
/* Footer Styles */
/* ************* */

footer {
    text-align: center;
    position: fixed;
    bottom: 5px;   
}

.attribution {
    width: 100%;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ************************** */
/* Responsive for Mobile View */
/* ************************** */

@media screen and (max-width: 700px) {
    .age-calc-box {
        height: fit-content;
        padding: 0 0 5rem 0;
        border-radius: 30px 30px 100px 30px;
    }

    .input-bar {
        margin: 3rem 1.5rem 1.5rem 1.5rem;
        padding: 0;
        width: 100%;
        justify-content: center;
    }

    .day-input, .month-input, .year-input{
        margin: 0;
        padding: 0;
        width: 33%;
    }

    .form-label {
        font-size: .8rem;
        letter-spacing: 0.25em;
        margin: .4rem 0 .4rem 0;
    }

    .form-input {
        font-size: 4.5vw;
        height: 1.6rem;
        width: 14.5vw;
        padding: .8rem;
    }

    .error {
        width: 90%;
    }

    .submit-bar {
        position: relative;
        text-align: center;
        margin: 2rem 1.5rem 1.5rem 1.5rem;
    }

    #submit {
        text-align: center;
        position: inherit;
        z-index: 2;
        background-color: var(--purple);
        border-radius: 50%;
        border: none;
        height: 14.5vw;
        width: 14.5vw;
    }

    #submit img {
        height: 6.6vw;
        width: 6.6vw;
    }

    .results-box {
        margin: 1.5rem 0 0 0;
        padding: 0;
    }
    
    .results-text {
        font-size: 15.2vw;
        margin: -2rem 0 -2rem 1.5rem;
        letter-spacing: -.08rem;
    }
}
